main{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #1a1a1a;

  scrollbar-width: 0;
  -ms-overflow-style: none; 
  
}

/* For WebKit browsers */
main::-webkit-scrollbar {
  width: 12px;
}

main::-webkit-scrollbar-track {
  background: #2a2a2a;
}

main::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #2a2a2a;
}

/* For Firefox */
main {
  scrollbar-color: #888 #2a2a2a;
  scrollbar-width: thin;
}
.glassmorphism-bg {
  background-color: #2a2a2a40;
  border-radius: 15px; /* Rounded corners */
  backdrop-filter: blur(10px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */

}
